@import "partials/variables";
@import "partials/base";

.wp-block-clashplayer-audio,
.wp-block-clashplayer-video {
	display: block;
	margin: auto;
}
.download-button {
	width: 40%;
	display: block;
	height: auto;
	line-height: 30px;
	margin: 0 auto;
	border: 2px solid $yellow;
	color: $black-red;
	text-align: center;
}

#clashaudio-player {
	width: 100%;
}

#clashvideo-player {
	width: 100%;
	height: auto;
	margin: 0.25em auto;
	display: block;
}

.clashplayer-logo {
	width: auto;
	display: block;
	margin: auto;
	background-color: $black;
	height: 100px;
}

.audio-controls,
.video-controls {
	height: auto;
	width: 100%;
	margin: 0 auto;
	border: $black solid 1px;
	padding: 0.5em;
	background-color: $black-red;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 25px);
	grid-gap: 5px;
}

.dashicons-controls-volumeon::before,
.dashicons-controls-volumeoff::before {
	display: block;
	color: $white;
	width: 100%;
	height: 100%;
	line-height: 25px;
	font-size: 0.85em;
	&:hover {
		cursor: pointer;
	}
}

.dashicons-controls-volumeoff::before {
	color: $red;
}

.dashicons-controls-pause,
.dashicons-controls-play,
.dashicons-controls-forward,
.dashicons-controls-back {
	display: block;
	width: 100%;
	height: 100%;
}

.dashicons-controls-pause::before,
.dashicons-controls-play::before,
.dashicons-controls-forward::before,
.dashicons-controls-back::before {
	font-size: 1.5em;
	text-align: center;
	display: block;
	color: $white;
	line-height: 40px;
	margin: auto;
	height: 100%;
	width: 100%;

	&:hover {
		font-weight: bold;
		color: $white;
	}
}

#btns-box {
	grid-area: 1 / 1 / 3 / 4;
	height: 45px;
	width: 100%;
}
#progress {
	grid-area: 1 / 4 / 2 / 7;
	width: 100%;
	display: inline-block;
	background-color: $white;
	position: relative;
	height: 24px;
}
.audio-seek,
.video-seek {
	grid-area: 2 / 4 / 3 / 7;
	width: 100%;
}
label[for="seek"] {
	width: 100%;
	line-height: 25px;
	color: $black-red;
	margin: 0;
	padding: 0;
	display: block;
}
#seek {
	width: 100%;
	display: block;
	height: 25px;
	margin: 0;
	padding: 0;
}

.audio-volume,
.video-volume {
	grid-area: 3 / 4 / 5 / 7;
	width: 100%;
}

.player-button {
	width: 33.3%;
	display: block;
	height: 100%;
	outline: none;
	text-align: center;
	font-size: 1em;
	transform-origin: 50% 50%;
	transition: all 0.2s linear 0s;
	color: $black-red;
	border: $black solid 1px;
	background-color: $green;
	float: left;
	padding: 0;

	&:hover {
		background-color: $black-red;
		color: $white;
		border: $black solid 1px;
		cursor: pointer;
	}

	&:active {
		background-color: $black-red;
	}
}

#playback {
	background-color: $black-red;
	height: 12px;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

#play-progress {
	position: absolute;
	top: 0;
	z-index: 2;
	background-color: $red;
	height: 12px;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	left: 0;
}

#load-progress {
	background-color: $yellow;
	height: 12px;
	display: block;
	margin: 0;
	padding: 0;
}

#time {
	grid-area: 3 / 1 / 5 / 4;
	width: 100%;
	color: $black-red;
	height: auto;
	display: flex;
	text-align: center;
	span:nth-of-type(odd) {
		width: 33%;
		line-height: 25px;
		text-align: center;
		font-size: 0.55em;
		display: block;
		background-color: $white;
		color: $black-red;
		margin-right: 0;
		float: left;
	}
}

#duration-time {
	font-size: 0.55em;
	color: $green;
	background-color: $black-red;
	border: none;
	width: 20%;
	line-height: 25px;
}

#current-time {
	font-size: 0.55em;
	color: $green;
	background-color: $black-red;
	border: none;
	width: 20%;
	line-height: 25px;
}

#volume-bar {
	width: 93%;
	display: block;
	float: left;
	line-height: 45px;
	margin: 0;
}

input[type="range"] {
	width: 100%;
	display: block;
	height: 25px;
}

#mute-volume {
	display: inline-block;
	width: 6.5%;
	text-align: center;
	line-height: 45px;
	border: none;
	background-color: unset;
	outline: none;
}

#video-player {
	width: 100%;
	margin: 0 auto;
	display: block;
	padding: 1em 0;
}

/* video */
iframe {
	width: 100%;
	margin: 1em auto;
}
@media screen and (min-width: 1920px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
		display: block;
		margin: 2em auto;
	}
	.download-button {
		display: block;
		width: 30%;
		height: auto;
		line-height: 30px;
		text-align: center;
	}
	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.clashplayer-logo {
		width: auto;
		display: block;
		margin: auto;
		height: 100px;
	}

	.audio-controls,
	.video-controls {
		height: auto;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.5em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.9em;

		&:hover {
			font-weight: bold;
		}
	}

	#btns-box {
		grid-area: 1 / 1 / 3 / 4;
		height: 45px;
		width: 100%;
	}
	#progress {
		grid-area: 1 / 4 / 2 / 7;
		display: inline-block;
		position: relative;
		height: 24px;
		background-color: $white;
	}
	.audio-seek,
	.video-seek {
		grid-area: 2 / 4 / 3 / 7;
		width: 100%;
	}
	label[for="seek"] {
		width: 100%;
		line-height: 25px;
		display: block;
	}
	#seek {
		display: block;
		height: 25px;
	}
	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}

	.player-button {
		width: 33.3%;
		display: block;
		text-align: center;
		font-size: 1em;
		float: left;

		&:hover {
			cursor: pointer;
		}

		&:active {
			background-color: $black-red;
		}
	}

	#playback {
		height: 12px;
		display: block;
	}

	#play-progress {
		position: absolute;
		z-index: 2;
		height: 12px;
		display: block;
	}

	#load-progress {
		background-color: $yellow;
		height: 12px;
		display: block;
		margin: 0;
		padding: 0;
	}

	/* controls - seek */
	.audio-seek .video-seek {
		grid-area: 2 / 3 / 2 / 6;
		width: 100%;
	}
	label[for="seek"] {
		width: 100%;
		line-height: 25px;
		margin: 0;
		padding: 0;
		display: block;
	}
	#seek {
		width: 100%;
		display: block;
		height: 25px;
		margin: 0;
		padding: 0;
	}

	/* controls - time */
	#time {
		grid-area: 3 / 1 / 5 / 4;

		span:nth-of-type(odd) {
			font-size: 0.9em;
		}
	}
	#duration-time {
		border: none;
		font-size: 1em;
	}

	#current-time {
		border: none;
		font-size: 1em;
	}

	#volume-bar {
		width: 93%;
		line-height: 45px;
		margin: 0;
	}

	input[type="range"] {
		width: 100%;
	}

	#video-player {
		width: 100%;
		margin: 0 auto;
		display: block;
		padding: 1em 0;
	}

	/* video */
	iframe {
		width: 100%;
		margin: 1em auto;
	}
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 30%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.4em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.7em;

		&:hover {
			font-weight: bold;
		}
	}

	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 100%;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		display: flex;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.8em;
		}
	}
	#duration-time {
		font-size: 1em;
	}

	#current-time {
		font-size: 1em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		font-size: 1.3em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.6em;

		&:hover {
			font-weight: bold;
		}
	}

	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 100%;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		display: flex;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.8em;
		}
	}
	#duration-time {
		font-size: 0.9em;
	}

	#current-time {
		font-size: 0.9em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		width: 75%;
		height: 360px;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 90%;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.2em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.5em;

		&:hover {
			font-weight: bold;
		}
	}

	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 100%;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		display: flex;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.65em;
		}
	}
	#duration-time {
		font-size: 0.85em;
	}

	#current-time {
		font-size: 0.85em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 90%;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.2em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.5em;

		&:hover {
			font-weight: bold;
		}
	}

	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 100%;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		width: 100%;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.8em;
		}
	}
	#duration-time {
		font-size: 0.8em;
	}

	#current-time {
		font-size: 0.8em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
		margin: 0;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media screen and (min-width: 667px) and (max-width: 799px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 90%;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.1em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.5em;

		&:hover {
			font-weight: bold;
		}
	}
	#btns-box {
		width: 100%;
		margin-bottom: 0.5em;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 100%;
		margin: 0;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		width: 100%;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.75em;
		}
	}
	#duration-time {
		font-size: 0.75em;
	}

	#current-time {
		font-size: 0.75em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media screen and (min-width: 640px) and (max-width: 666px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 90%;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.2em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.5em;

		&:hover {
			font-weight: bold;
		}
	}

	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 100%;
		margin: 0;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		width: 100%;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.85em;
		}
	}

	#duration-time {
		font-size: 0.85em;
	}

	#current-time {
		font-size: 0.85em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		width: 80%;
	}
}
@media screen and (min-width: 536px) and (max-width: 639px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 90%;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.2em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.5em;
		&:hover {
			font-weight: bold;
		}
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 100%;
		margin: 0;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		width: 100%;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.85em;
		}
	}
	#duration-time {
		font-size: 0.85em;
	}

	#current-time {
		font-size: 0.85em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		width: 80%;
	}
}
@media screen and (min-width: 480px) and (max-width: 535px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 90%;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.1em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.3em;

		&:hover {
			font-weight: bold;
		}
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 100%;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		width: 100%;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.65em;
		}
	}
	#duration-time {
		font-size: 0.65em;
	}

	#current-time {
		font-size: 0.65em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media screen and (min-width: 414px) and (max-width: 479px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 90%;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 1.1em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.3em;

		&:hover {
			font-weight: bold;
		}
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 98%;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		width: 100%;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.6em;
		}
	}
	#duration-time {
		font-size: 0.6em;
	}

	#current-time {
		font-size: 0.6em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}
	input[type="range"] {
		width: 100%;
	}

	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media screen and (min-width: 360px) and (max-width: 413px) {
	.wp-block-clashplayer-media {
		display: block;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 90%;
	}

	#clashvideo-player {
		width: 100%;
		height: auto;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	.dashicons-controls-volumeon::before,
	.dashicons-controls-volumeoff::before {
		width: 100%;
		font-size: 0.9em;
	}

	.dashicons-controls-pause,
	.dashicons-controls-play,
	.dashicons-controls-forward,
	.dashicons-controls-back {
		display: block;
		width: 100%;
		height: 100%;
	}

	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.3em;

		&:hover {
			font-weight: bold;
		}
	}

	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 4;
	}
	.player-button {
		width: 33.3%;
	}

	#playback {
		height: 12px;
		display: block;
	}

	#progress {
		grid-area: 1 / 4 / 2 / 7;
		width: 98%;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		width: 100%;
		grid-area: 3 / 1 / 5 / 4;
		span:nth-of-type(odd) {
			font-size: 0.6em;
		}
	}
	#duration-time {
		font-size: 0.6em;
	}

	#current-time {
		font-size: 0.6em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		grid-area: 3 / 4 / 5 / 7;
		width: 100%;
	}
	#volume-bar {
		width: 93%;
	}

	input[type="range"] {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
