@import "partials/variables";
@import "partials/base";

@media only screen and (max-width: 1920px) {
	.wp-block-clashplayer-media {
		width: 80%;
		display: block;
		margin: auto;
	}
	.download-button {
		display: block;
		width: 30%;
		height: auto;
		line-height: 30px;
		margin: 0 auto;
		border: 2px solid $color2;
		color: $color4;
		text-align: center;
	}
	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
		display: block;
		margin: 2em auto;
	}

	.clashplayer-logo {
		width: auto;
		display: block;
		margin: auto;
		background-color: $color4;
		height: 100px;
	}

	/* controls -audio/video */
	.audio-controls,
	.video-controls {
		height: auto;
		width: 100%;
		margin: 0 auto;
		border: $color11 solid 1px;
		padding: 0.5em;
		background-color: $color4;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 25px);
		grid-gap: 2px;
	}

	/* controls -buttons */
	#btns-box {
		grid-area: 1 / 1 / 3 / 3;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 0.2em;
	}
	.player-button {
		flex: 1 0 auto;
		width: 32%;
		outline: none;
		text-align: center;
		font-size: 1em;
		transition: all 0.2s linear 0s;
		color: $color4;
		border: $color11 solid 1px;
		background-color: $color7;
		line-height: 50px;
		height: 50px;
		padding: 0;

		&:hover {
			background-color: $color4;
			color: $color;
			border: $color11 solid 1px;
			cursor: pointer;
		}

		&:active {
			background-color: $color4;
		}
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 2em;
		text-align: center;
		color: $color;
		&:hover {
			font-weight: bold;
			color: $color;
		}
	}

	/* controls - progress bar */
	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
		position: relative;
		height: 24px;
	}
	#playback {
		background-color: $color4;
		height: 12px;
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#play-progress {
		position: absolute;
		top: 0;
		z-index: 2;
		background-color: $color2;
		height: 12px;
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		left: 0;
	}
	#load-progress {
		background-color: $color8;
		height: 12px;
		display: block;
		margin: 0;
		padding: 0;
	}

	/* controls - seek */
	.audio-seek,
	.video-seek {
		grid-area: 2 / 3 / 2 / 6;
		width: 100%;
	}
	label[for="seek"] {
		width: 100%;
		line-height: 25px;
		color: $color4;
		margin: 0;
		padding: 0;
		display: block;
	}
	#seek {
		width: 100%;
		display: block;
		height: 25px;
		margin: 0;
		padding: 0;
	}

	/* controls - time */
	#time {
		grid-area: 3 / 1 / 4 / 6;
		width: 100%;
		color: $color4;
		height: 25px;
		display: flex;
		span {
			width: 25%;
			line-height: 25px;
			text-align: center;
			font-size: 0.8em;
			display: block;
		}
		span:nth-child(odd) {
			color: $color4;
			background-color: $color3;
		}
	}
	#duration-time {
		color: $color7;
		background-color: $color4;
		border: none;
		font-size: 1em;
		text-shadow: 1px 1px $color4;
	}
	#current-time {
		color: $color7;
		background-color: $color4;
		border: none;
		font-size: 1em;
		text-shadow: 1px 1px $color4;
	}

	/* controls - volume */
	.audio-volume,
	.video-volume {
		grid-area: 4 / 1 / 5 / 6;
		width: 100%;
	}
	#volume-bar {
		width: 100%;
		display: block;
		line-height: 25px;
		margin: 0;
	}
	input[type="range"] {
		width: 100%;
		display: block;
		height: 25px;
	}

	/* video */
	iframe {
		width: 100%;
		margin: 1em auto;
	}
}
@media only screen and (max-width: 1440px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 30%;
	}

	#clashaudio-player {
		width: 100%;
	}

	#clashvideo-player {
		width: 85%;
		height: 250px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	#btns-box {
		grid-area: 1 / 1 / 3 / 3;
	}
	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 2em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;
		span {
			font-size: 0.8em;
		}
	}
	#duration-time {
		font-size: 1em;
	}

	#current-time {
		font-size: 1em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media only screen and (max-width: 1280px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	#btns-box {
		grid-area: 1 / 1 / 3 / 3;
	}
	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.9em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}
	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;
		span {
			width: 25%;
			font-size: 0.8em;
		}
	}
	#duration-time {
		font-size: 1em;
	}
	#current-time {
		font-size: 1em;
	}
	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		width: 75%;
		height: 360px;
	}
}
@media only screen and (max-width: 1024px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		padding: 0.25em;
		width: 100%;
	}

	#btns-box {
		grid-area: 1 / 1 / 3 / 3;
	}
	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.8em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}
	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;
		span {
			font-size: 0.7em;
		}
	}
	#duration-time {
		font-size: 0.85em;
	}
	#current-time {
		font-size: 0.9em;
	}
	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media only screen and (max-width: 800px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	#btns-box {
		grid-area: 1 / 1 / 3 / 3;
	}
	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.7em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}
	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;
		width: 100%;

		span {
			font-size: 0.75em;
		}
	}
	#duration-time {
		font-size: 0.9em;
	}
	#current-time {
		font-size: 0.9em;
	}
	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
		margin: 0;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media only screen and (max-width: 667px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}

	#btns-box {
		grid-area: 1 / 1 / 3 / 3;
		margin-bottom: 0.5em;
	}
	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.6em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}
	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;
		width: 100%;

		span {
			font-size: 0.9em;
		}
	}
	#duration-time {
		font-size: 1em;
	}
	#current-time {
		font-size: 1em;
	}
	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media only screen and (max-width: 640px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 3;
	}
	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.5em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;
		width: 100%;

		span {
			font-size: 0.9em;
		}
	}
	#duration-time {
		font-size: 1em;
	}

	#current-time {
		font-size: 1em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		width: 80%;
	}
}
@media only screen and (max-width: 536px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 3;
	}

	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.4em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;

		span {
			font-size: 0.9em;
		}
	}
	#duration-time {
		font-size: 1em;
	}

	#current-time {
		font-size: 1em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		width: 80%;
	}
}
@media only screen and (max-width: 480px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 3;
	}

	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.3em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;

		span {
			font-size: 0.8em;
		}
	}
	#duration-time {
		font-size: 1em;
	}

	#current-time {
		font-size: 1em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media only screen and (max-width: 414px) {
	.wp-block-clashplayer-media {
		width: 96%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 3;
	}

	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.2em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;

		span {
			font-size: 0.8em;
		}
	}
	#duration-time {
		font-size: 1em;
	}

	#current-time {
		font-size: 1em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media only screen and (max-width: 360px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 3;
	}

	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1.1em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;

		span {
			font-size: 0.7em;
		}
	}
	#duration-time {
		font-size: 0.9em;
	}

	#current-time {
		font-size: 0.9em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
@media only screen and (max-width: 320px) {
	.wp-block-clashplayer-media {
		width: 80%;
	}
	.download-button {
		width: 40%;
	}

	#clashaudio-player {
		width: 100%;
	}
	#clashvideo-player {
		width: 100%;
		height: 350px;
	}

	.audio-controls,
	.video-controls {
		width: 100%;
	}
	#btns-box {
		width: 100%;
		grid-area: 1 / 1 / 3 / 3;
	}

	.player-button {
		width: 32%;
	}
	.dashicons-controls-pause::before,
	.dashicons-controls-play::before,
	.dashicons-controls-forward::before,
	.dashicons-controls-back::before {
		font-size: 1em;

		&:hover {
			color: $color;
		}
	}

	#progress {
		grid-area: 1 / 3 / 3 / 6;
		background-color: $color;
	}
	#play-progress {
		display: block;
	}

	#load-progress {
		display: block;
	}

	#time {
		grid-area: 3 / 1 / 4 / 6;

		span {
			font-size: 0.7em;
		}
	}
	#duration-time {
		font-size: 0.9em;
	}

	#current-time {
		font-size: 0.9em;
	}

	label[for="seek"] {
		width: 100%;
		line-height: 25px;
	}

	.audio-volume,
	.video-volume {
		width: 100%;
	}
	#volume-bar {
		width: 100%;
	}
	input[type="range"] {
		width: 100%;
	}

	iframe {
		margin: 1em auto;
	}
}
