@import "variables";

*,
*::after,
*::before {
	box-sizing: border-box;
}

* html {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

html[xmlns] .clearfix {
	display: block;
}

html,
body {
	padding: 0;
	width: 100%;
}

/* WordPress Image Classes */
.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Alignments
	--------------------------------------------- */
.alignleft {
	/* rtl:ignore */
	float: left;
	/* rtl:ignore */
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/* rtl:ignore */
	float: right;

	/* rtl:ignore */
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

.alignwide {
	width: calc(50vw - 2rem);
	// margin-right: -1rem;
	// margin-left: -1rem;
	margin: auto;
}

.alignfull {
	max-width: 80vw;
	// margin-right: -2rem;
	// margin-left: -2rem;
	margin: auto;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #eeeeee;
	clip: auto !important;
	clip-path: none;
	color: #444444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.dashicons {
	width: auto;
	display: block;
	height: 100%;
}
