@import "variables";

*,
*::after,
*::before {
	box-sizing: border-box;
}

* html {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

html[xmlns] .clearfix {
	display: block;
}

html,
body {
	padding: 0;
	width: 100%;
}

/* WordPress Image Classes */
.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Alignments
	--------------------------------------------- */
.alignleft {
	/* rtl:ignore */
	float: left;
	/* rtl:ignore */
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/* rtl:ignore */
	float: right;

	/* rtl:ignore */
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

.alignwide {
	max-width: calc(98vw - 1rem);
	// margin-right: -1rem;
	// margin-left: -1rem;
	margin: auto;
}

.alignfull {
	max-width: 98vw;
	// margin-right: -2rem;
	// margin-left: -2rem;
	margin: auto;
}

.dashicons {
	width: auto;
	display: block;
	height: 100%;
}
